<div class="col-md-3">
	<div class="col-md-12">
		<div class="col-md-12">

		<select class="form-group" [(ngModel)]="selectedValue">
			<option>Enter Your bank Code</option>
			 <option *ngFor="let c of bankCodes | keys" value=" {{ c.key }}">{{ c.value }}</option>
		</select>
	</div>
	<div class="col-md-12">
		<div class="form-group">
    		<label for="pwd"></label>
    		<input type="text" class="form-control" id="pwd" [(ngModel)]="account_number" placeholder="Pls enter your account">
  		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
    		<button class="btn btn-primary " type=""  (click)="submitDetails()" value="Go" >GO</button>
  		</div>
	</div>
	</div>
	<div class="col-md-12">
		<div>
			{{ account_name }}
		</div>
	</div>
</div>
