<div class="col-md-3">
	<div class="col-md-12">

		<select class="form-group" [(ngModel)]="selectedValue">
			<option>Enter Your bank Code</option>
			 <option *ngFor="let c of bankCodes | keys" value=" {{ c.key }}">{{ c.value }}</option>
		</select>
	</div>
	<div class="col-md-12">
		<div class="form-group">
    		<label for="pwd"></label>
    		<input type="text" class="form-control" id="pwd" name="account" placeholder="Pls enter your account">
  		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
    		<label for="pwd">Password:</label>
    		<input type="text" class="form-control"  placeholder="Pls enter your merchant ID">
  		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
    		<button class="btn btn-primary " type="submit" value="Go" >GO</button>
  		</div>
	</div>
</div>
